*{
    margin: 0;
    box-sizing: border-box;


    font-family: 'AvertaStd-Semibold';
}
header{
    padding: 10px 30px;
    background-image: url(img/ptbackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}
.navbar-container{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
   
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 2px;
    flex-basis: 10%;
    vertical-align: middle;
    font-size: 1.5rem;
}

.lists-container{
    flex-basis: 80%;
}
.login{
    flex-basis: 10%;
    text-align: center;
    justify-self: center;
    width: fit-content;
    padding: 5px 15px;
    background: #00D899;
    border-radius: 15px;

}
nav ul{
    list-style: none;
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
}
header a{
    text-decoration: none;
    cursor: pointer;
    color: #ffff;
}


.second-head{
    text-align: center;
    color: #ffff;
    font-size: 2rem;
    position: absolute;
    width: 1128px;
    height: 44px;
    left: 156px;
    top: 300px;
    

}
.second-head span{
    color: #00D899;
}
.second-head h2{
    margin-bottom:50px ;
}
.second-head p{
margin-bottom: 50px;
font-family: 'AvertaStd-Semibold';
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;

    font-size: 18px;
}
.button{
    width: 292px;
    height: 40px;
    background: #00D899;
    border-radius: 15px;
    color: #ffff;
    font-size: 18px;
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.ball{
    width: fit-content;
    height: fit-content;
    position: fixed;
    left: 1304px;
    top: 630px;
    border-radius:50% ;
    padding: 10px;
    background: #00D899;
    z-index: 1000;
}

/* the body starts */

main{
    padding: 20px 100px;

}
.main-offer-container{
    display: flex;
    justify-content: space-between;
}

.first-main-article span{
    color: #00D899;
}

.main-offers{
    width: 50%;
    display: flex;
    flex-wrap: wrap;


}

.offer-cont{
    width: 50%;
    margin-bottom: 50px;
}
.img-container{
    background-image: url(img/Ellipse\ 3.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.img-container img{
    width: 40px;
    height: 42px;


}
.img1 img{
    height: 35px;
}
.img2 img{
    height: 30px;
    width: 35px;
}
.img3 img{
    height: 35px;
    width: 30px;
}
.offer-cont h3{
    margin: 20px 0;
}

.who-are-we{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.WAW-article2{
    flex-basis: 50%;

}
.WAW-logo-container{
    display: flex;
    align-items: center;
    gap: 2px;
    flex-basis: 10%;
    vertical-align: middle;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.why-choose-ptindia{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}
.WCP-article1 span{
    color: #00D899;
    

}
.WCP-article2{
    flex-basis: 50%;
}
.WCP-article2 div{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px 0;
}

footer h5{
    text-align: center;
    margin: 20px 0;
}

.footer-container{
    height: 25vh;
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 40px;
}
.footer-div3 ul{
    list-style-image: url(img/Vector\ \(6\).png);

}
.footer-div3 li{
    margin: 20px 0;

}

.footer-div2 p{
    margin: 10px 0;
}


@keyframes pulse {
    0%{
        transform: scale(0.9);
        box-shadow: 0 0 0 0;

    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 7px;
    }
    100%{
        transform: scale(0.9);
        box-shadow: 0 0 0 0;
    }
}

@media (min-width:350px) and (max-width:1000px){
    header{
        padding: 2em;
        width: 100%;
        height: 75vh;
        background-size:cover;
        background-position: center;
    }
    .logo-container{
        justify-content: center;
        flex-basis: 100%;
    }

    .lists-container{
        display: none;
    }
    .login{
        display: none;
    }
    .second-head{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        font-size: small;
        width: fit-content;
    }
    main{
        padding: 0;
    }

    .main-offer-container{
        align-items: center;
        flex-direction: column;
    }
    .main-offers{
        width: 90%;
    }
    .first-main-article{
        text-align: center;
        margin-bottom: 2em;
    }
    .offer-cont{
        flex-basis: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-container{
        width: 100%;
        background-position: center;
        justify-content: center;
        align-items: center;
    }
    .who-are-we{
        flex-direction: column;
        align-items: center;
    }
    .WAW-article1{
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
    }
    .WAW-article2{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .WAW-para{
        text-align:center;
        flex-basis: 80%;
    }   
    .WAW-logo-container{
        justify-content: center;
        flex-basis: 90%;
    }
    .why-choose-ptindia{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .WCP-article1 h2{
        text-decoration: underline;
        margin-bottom: 2em;
        text-align: center;
    }
    .WCP-article1 p{
        text-align: center;
    }
    .WCP-article2{
        align-items: center;
    }
    .why-choose-ptindia img{
        width: 45px;
        height: 39px;

    }
   
    .footer-container{
        height: fit-content;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-div1{
        flex-basis: 100%;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
    }
    .footer-div2{
        flex-basis: 40%;
        margin: 0;
    }
    .footer-div3{
        margin: 0;
        flex-basis: 40%;
    }
    footer h5{
        margin: 2em 0;
        width: 90%;
    }
    .ball{
        position: fixed;
        right: 10%;
        bottom: 20%;
        z-index: 1000;
        width: 500px;
    }

}

